<h1>Physicians List</h1>
<%= link_to 'Add Physician', new_physician_path %>
<hr />
<h2><%= @physician.length <= 0 ? "No Physicians" : "" %></h2>
<ul>
  <% @physician.each do |physician| %>
    <li>
      <%= link_to physician.name, physician %>
    </li>
  <% end %>
</ul>