<h1><%= @physician.name %></h1>
<hr />
<br />
<%= link_to 'Appointments', physician_appointments_path(@physician), class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to "Delete Physician", @physician, method: :delete, class: "ui red button inverted" %>
 
