<h1>Add an Appointment</h1>
<%= form_with(model: [@physician, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :patient %>
  <%= f.select :patient_id, @patient.collect { |u| [u.full_name, u.id] } %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>